.qtip {

    max-width: 800px !important;
    min-width: 50px !important;

    font-size: 1.1em !important;
    line-height: 1.3em !important;
}

#menudiv-amazon {
    line-height: 140%;
    font-size: 1.1em;
}

#menudiv-amazon ul li {
    line-height: 160%;
}

#menudiv-amazon > div:nth-child(1) > label > h3 {
    font-size: 1.1em;
    float: left;
    margin: 0;
}

.label-checkbox {
    text-align: left;
    float: none;
    font-size: 1.2em;
    color: navy;
    opacity: 0.8;
    padding: 5px;
}

#menuTab {
    float: left;
    padding: 0;
    margin: 0;
    text-align: left;
    background: whitesmoke;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    width: 99.9%;
}

#menuTab li {

    text-align: left;
    float: left;
    display: inline;
    min-width: 125px;
    padding: 15px 15px 20px 15px;
    margin: 5px;
    border-bottom: 3px solid transparent;
}

#menuTab li img {
    left: -5px;
    position: relative;
}

#menuTab li span {
    position: relative;
    top: -5px;
    font-weight: bold;
    letter-spacing: 1px;
}

#menuTab .menuTabButton {
    height: auto;
    max-height: 20px;
}

#menuTab .menuTabButton img {
    vertical-align: middle;
}

#menuTab li.menuTabButton.selected {
    border-bottom: 3px solid #6495ED;
    padding: 15px 15px 20px 15px;
    margin: 5px;
}

#menuTab li.menuTabButton:hover {
    cursor: pointer;
    background: #6495ED;
    padding: 15px 15px 20px 15px;
    margin: 5px;
    opacity: 0.7;
    border-bottom: 3px solid transparent;
}

#tabList {
    clear: left;
}

.tabItem {
    display: none;
}

.tabItem.selected {
    display: block;
}

.menuTabButton {
    height: 16px;
}

.cleaner {
    clear: both;
}

.hint {
    width: 95%;
}

#content select {
    padding: 2px;
}

.span_text {
    position: relative;
    top: +2px;
    color: black;
    font-size: 1.1em;
    margin-left: 5px;
}

.rtfm {
    position: relative;
    left: 500px;
    margin-top: -65px;
    font-family: Comic Sans MS;
    color: black;
}

.rtfm-img {
    background: transparent url(../img/arrow-doc.png) no-repeat;
    margin-left: 40px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

.amz-required {
    color: #F00;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    margin: 0 5px 0 10px;
    top: +6px;
}

.cron-title {
    font-size: 1.2em;
    color: black;
    margin: 12px 12px 5px 5px;
}

.cron-url {
    background-color: whitesmoke;
    width: 100%;
    max-width: 650px;
    color: black;
    opacity: 0.7;
    margin-bottom: 3px;
}

.cron-img {
    position: relative;
    top: -7px;
    left: +2px;
}

.master-disabled {
    color: silver;
    background-color: #efefef;
}

.master-enabled {
    color: black;
    background-color: white;
}

.bcallback {
    position: relative;
    margin-left: 20px;
    bottom: 10px;
}

.tabItem .disabled {
    color: silver;
    background-color: #efefef;
}

.ecallback-disabled {
    color: silver;
    background-color: #efefef;
}

.check-loader {
    position: relative;
    top: -5px;
    margin-left: 30px;
}

#main .add-carrier img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 2px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .add-carrier img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

#main .remove-carrier img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 2px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .remove-carrier img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

#main hr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}

/* FOR PROFILES */
.profile-header table > tbody > tr > td:nth-child(1) {
    width: 88%;
}

.master-profile {
    display: none;
}

.profile {
    display: none;
    background-color: snow;
    margin: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-add {
    color: green;
    float: right;
    font-size: 1.3em;
    position: relative;
    top: 5px;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.profile-add-img {
    float: right;
    margin-right: 10px;
}

.profile-add-img img {
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    margin-right: 30px;
}

.profile-add-img img:hover {
    border: 1px solid navy;
}

.profile-header > div, .model-header > div {
    margin-top: 0;
}

.profile-header, .model-header {
    background-color: whitesmoke;
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 60px;
    border-bottom: 1px solid gainsboro;
}

.profile-header .title, .model-header .title {
    font-size: 1.2em;
    color: navy
}

.profile-header .type, .model-header .type {
    font-size: 1.2em;
}

.profile-obj-title, .model-obj-title {
    position: relative;
    top: -5px;
    text-align: right;
}

.profile-help, .model-help {
    font-size: 1em;
}

.profile-create {
    background-color: lavender;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.profile-create h2 {
    margin: 5px 30px 10px 30px;
    border-bottom: 1px solid silver;
    padding: 10px;
}

.profile-del {
    color: red;
    float: right;
    font-size: 1.3em;
    position: relative;
    top: 5px;
    margin-left: 15px;
    margin-right: 30px;
    cursor: pointer;
}

.profile-del-2, .model-del-2 {
    color: red;
    float: right;
    font-size: 1.3em;
    position: relative;
    top: 5px;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;

}

.profile-del-img, .model-del-img {
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
}

.profile-del-img:hover, .model-del-img:hover {
    border: 1px solid navy;
}

.profile-del-img2, .model-del-img2 {
    position: relative;
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.profile-del-img2:hover, .model-del-img2:hover {
    border: 1px solid navy;
}

.profile-edit, .model-edit {
    position: relative;
    top: +2px;
}

.profile-edit-img, .profile-dup-img, .model-edit-img {
    margin-left: 15px;
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.profile-edit-img:hover, .model-edit-img:hover, .profile-dup-img:hover {
    border: 1px solid navy;
}

.expander {
    padding-left: 13px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../img/collapsed.gif);
}

.expander.expanded {
    padding-left: 13px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../img/expanded.gif);
}

.type_reload {
    cursor: pointer;
    padding: 2px;
    border: 1px solid transparent;
}

.type_reload:hover {
    border: 1px solid navy;
}

.extra-input {
    position: relative;
    top: -2px;
}

.extra-required {
    color: red;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    top: +6px;
}

.specific-field {
    width: 80px;
    position: relative;
    top: -2px;
}

.profile-feature-list {
    min-width: 140px;
}

.text-option {
    color: black;
    font-size: 1.1em;
    position: relative;
    top: +2px;

}

.variant-items {
    display: none;
}

.browse-lang-txt {
    font-size: 0.8em;
}

.browse-lang-img {
    position: relative;
    top: -2px;
    margin: 5px;
}

.browse-lang-cfier {
    font-size: 0.8em;
}

.config-type {
    font-size: 0.8em;
    color: navy;
    cursor: pointer;
    position: relative;
    top: -5px;
}

#main .specific-fields {
}

#main .mandatory_fields {
    position: relative;
}

#main .mandatory_fields select {
    width: 200px;
    position: relative;
    left: -3px;
}

#main .specific-fields > .profile-help {
    padding: 0 0 10px 20px;
    margin-left: 180px;
}

#main .profiles-code-exempt {
    clear: both;
    padding-top: 10px;
}

#main .expert {
    margin-left: 5px;
    position: relative;
    top: -8px;
    font-style: italic;
    font-size: 0.8em;
    color: red;
}

#main .experimental {
    margin-left: 5px;
    position: relative;
    top: -8px;
    font-style: italic;
    font-size: 0.6em;
    color: darkorange;
}

#main .mandatory {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: red;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}

#main .recommended {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: orange;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}

#main .choice {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: grey;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}

#main .featured {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: green;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}

#main .preferred {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: darkorange;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}

#main .variant {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: silver;
    border: 2px solid transparent;
    opacity: 0.7;
    border-radius: 3px;
}

#main .xsd-load {
    padding: 10px;
    display: inline-block;
}

/* Attributes Mapping */
#main .attribute-group span img {
    max-height: 16px;
    opacity: 0.5;
    position: relative;
    top: -2px;
}

#main .attribute-group input, #main .attribute-group select {
    padding: 2px;
    margin: 2px;
    position: relative;
    top: -1px;
    width: 250px;
}

#main .add-attr-mapping img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 2px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .add-attr-mapping img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

#main .del-attr-mapping img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 2px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .del-attr-mapping img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

/* Features Mapping */
#main .feature-group span img {
    max-height: 16px;
    opacity: 0.5;
    position: relative;
    top: -2px;
}

#main .feature-group input {
    padding: 2px;
    margin: 2px;
    position: relative;
    top: -1px;
}

#main .add-feature-mapping img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 2px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .feature-group select {
    width: 250px;
}

#main .add-feature-mapping img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

#main .del-feature-mapping img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 2px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .del-feature-mapping img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

.yesno {
    color: black;
    font-size: 12px;
    position: relative;
    top: +2px;
}

.dummy-name {
    font-size: 1.1em;
    color: black;
}

.dummy-name input {
    margin-left: 5px;
}

#dummy-product {
    margin-top: 5px;
}

.amz-separator {
    width: 600px;
    position: relative;
    top: -10px;
}

.feature-mapping {
    display: none;
}

.feature-mapping-collapse, .feature-mapping-collapse a, .feature-mapping-collapse a:hover {
    text-decoration: none;
    color: navy;
    font-size: 11px;
}

#main .attribute-group {
    font-size: 1em;
}

.attribute-mapping {
    display: none;
}

.attribute-mapping-collapse, .attribute-mapping-collapse a, .attribute-mapping-collapse a:hover {
    text-decoration: none;
    color: navy;
    font-size: 11px;
}

/*
 * Filters
 */
.available-manufacturers {
    float: left;
    width: 250px;
    height: 180px;
    resize: vertical;
    overflow: auto;
}

.selected-manufacturers, .available-shipping-groups {
    float: left;
    width: 250px;
    height: 180px;
    resize: vertical;
    overflow: auto;
}

.manufacturer-heading {
    width: 600px;
}

.manufacturer-heading span {
    display: inline-block;
    width: 260px;
    text-align: center;
    padding: 10px;
}

.available-suppliers {
    float: left;
    width: 250px;
    height: 180px;
    resize: vertical;
    overflow: auto;
}

.selected-suppliers {
    float: left;
    width: 250px;
    height: 180px;
    resize: vertical;
    overflow: auto;
}

.supplier-heading {
    width: 600px;
}

.supplier-heading span {
    display: inline-block;
    width: 260px;
    text-align: center;
    padding: 10px;
}

.sep {
    position: relative;
    float: left;
    height: 200px;
    margin: auto 10px auto 10px;
    top: 60px;
}

.move {
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
}

.move:hover {
    padding: 5px;
    border: 1px solid silver;
    background-color: gainsboro;
}

.field_label {
    display: inline-block;
    position: relative;
    top: +1px;
    font-size: 1.1em;
    color: navy;
}

.radio_config input {
    margin: 0 10px 0 10px;
    position: relative;
    top: -1px;
}

.radio_config {
    font-size: 1.1em;
    color: black;
    position: relative;
    top: +1px;
    cursor: pointer;
}

.checkbox_config input {
    margin: 0 10px 0 10px;
    position: relative;
    top: -1px;
}

.checkbox_config {
    font-size: 1.1em;
    color: black;
    position: relative;
    top: +1px;
    cursor: pointer;
}

.tools-tab-title, .valid-values-title {
    margin-left: 15px;
    border-bottom: 1px solid silver;
}

.export-loader {
    display: none;
    position: relative;
    top: -6px;
    margin-left: 10px;
}

.file-download {
    font-size: 1.1em;
    width: 90%;
    background: whitesmoke url(../img/filesave.png) no-repeat scroll 6px 6px;
    border: 1px solid silver;
    color: gainsboro;
    font-weight: normal;
    margin: 0 0 10px 0;
    line-height: 20px;
    padding: 13px 5px 5px 40px;
    min-height: 28px;
    border-radius: 3px;
}

#status-loader, #participation-loader {
    left: 50%;
    margin-left: 50%;
    margin-bottom: 10px;
    width: 100%;
    height: 32px;
    background: transparent url(../img/loading.gif) no-repeat;
}

table tbody tr.amz-informations-1 td {
    font-size: 1em;
    border-bottom: none;

}

table tbody tr.amz-informations-2 td {
    font-size: 0.9em;
    position: relative;
    top: -10px;
}

#main .amz-info p {
    font-size: 1.1em;
}

#main .amz-info-level-error {
    min-height: 32px;
    background: #FFBABA url(../img/icon-cancel.png) no-repeat 6px 6px;
    border: 1px solid #CC0000;
    padding: 8px 5px 5px 50px;
    border-radius: 3px;
}

#main .amz-info-level-warn {
    min-height: 32px;
    background: #FEEFB3 url(../img/icon-attention.png) no-repeat 6px 6px;
    border: 1px solid #9e6014;
    padding: 8px 5px 5px 50px;
    border-radius: 3px;
}

#main .amz-info-level-info {
    min-height: 32px;
    background: #BDE5F8 url(../img/icon-info.png) no-repeat 6px 6px;
    border: 1px solid #00529B;
    padding: 8px 5px 5px 50px;
    border-radius: 3px;
}

#main .amz-info-level-ok {
    min-height: 32px;
    background: #DFF2BF url(../img/icon-valid.png) no-repeat 6px 6px;
    border: 1px solid #4F8A10;
    padding: 8px 5px 5px 50px;
    border-radius: 3px;
}

#main .amz-info-text-error {
    color: red;
    font-weight: bold;
}

#main .amz-info-text-warn {
    color: #9e6014;
    font-weight: bold;
}

#main .amz-info-text-ok {
    color: #4F8A10;
}

/* PS 1.6 */
#main .hint {
    margin-top: 4px;
    margin-bottom: 2px;
    border: 1px solid #00529B;
    padding: 15px 5px 15px 40px;
    color: #00529B;
    background: url('../img/icon-info.png') no-repeat scroll 6px 5px #BDE5F8;
    border-radius: 3px;
    min-height: 15px;
    z-index: 10;
}

#main .warn {
    margin-top: 4px;
    margin-bottom: 2px;
    border: 1px solid #9e6014;
    padding: 15px 5px 15px 40px;
    color: #9e6014;
    background: url('../img/icon-attention.png') no-repeat scroll 6px 5px #FEEFB3;
    border-radius: 3px;
    min-height: 15px;
    z-index: 10;
}

#main .conf {
    background: #DFF2BF url(../img/icon-valid.png) no-repeat scroll 6px 6px;
    border: 1px solid #4F8A10;
    color: #4F8A10;
    font-size: 12px;
    font-weight: normal;
    margin: 0 0 10px 0;
    line-height: 20px;
    padding: 13px 5px 5px 40px;
    min-height: 28px;
    border-radius: 3px;
}

#main .error {
    min-height: 32px;
    background: #FFBABA url(../img/icon-cancel.png) no-repeat 6px 6px;
    border: 1px solid #CC0000;
    padding: 8px 5px 5px 50px;
    border-radius: 3px;
}

.table-queue {
    min-width: 600px;
}

.table-queue-delete {
    width: 30px;
    text-align: center;
}

.button-queue-delete {
    margin: 10px 10px 10px 550px;
}

.queue-loader {
    display: none;
}

.used-option {
    color: navy;
}

.unused-option {
    color: green;
}

.condition-map input {
    color: navy;
    margin: 2px;
    padding: 2px;
    position: relative;
    top: -1px;
    background-color: whitesmoke;
    border: 1px solid silver;
}

.condition-map span img {
    margin: 0 5px 0 5px;
    position: relative;
    top: -2px;
}

#content .api-settings input {
    position: relative;
    top: -2px;
    padding: 4px;
    color: green;
}

#content .api-settings input[type=button] {
    color: navy;
    width: 200px;
}

#content input {
    border-radius: 3px;
    padding-left: 5px;
}

#content select {
    border-radius: 3px;
    padding-left: 5px;
}

.smart-shipping span img {
    margin: 0 10px 0 10px;
    position: relative;
    top: -6px;
}

.smart-shipping input {
    color: navy;
    margin: 2px;
    padding: 2px;
    position: relative;
    top: -1px;
    background-color: whitesmoke;
    border: 1px solid silver;
}

/*
 * General Price Rules
 */
#main .price_rule-type {
    width: 100px;
    padding: 4px;
    float: left;
}

#main .default-price-rule .price-rule-slash, #main .default-price-rule .price-rule-next {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    position: relative;
    top: -5px;
}

#main .default-price-rule input {
    padding: 6px;
}

#main .default-price-rule select {
    padding: 4px;
    position: relative;
    top: 1px;
}

#main .default-price-rule {
    float: left;
    margin-left: 10px;
}

#main .price-rule-type {
    float: left;
    padding: 4px;
    margin-right: 15px;
    position: relative;
    top: 1px;
}

#main .price-rule-add, #main .price-rule-remove {
    margin-left: 10px;
}

#main .price-rule-add img, #main .price-rule-remove img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 4px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .price-rule-add img:hover, #main .price-rule-remove img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

#main .price-rule input.required {
    border: 1px solid red;
}

/* From shared folder, remove it when update done */
div.col-lg-1 {
    width: 8.33333%;
    float: left;
    text-align: center;
}

div.col-lg-11 {
    width: 91.66667%;
    float: left;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

#menudiv-amazon ul {
    list-style-type: disc;
    margin: 0 0 0 20px;
    padding: 1em;
}

#tabList div:first-child hr {
    width: 30%;
}

#menudiv-filters input {
    position: relative;
    top: -2px;
    padding: 4px;
}

#main .mapping-type-required {
    border: 1px solid red;
}

.arrow-cat-duplicate:hover {
    border: 1px solid navy;
    background-color: aliceblue;
    opacity: 1;
}

.arrow-cat-duplicate {
    position: relative;
    top: 4px;
    display: inline-block;
    background: transparent url(../img/down-double-arrow.png) no-repeat 3px 3px;
    background-size: 9px 11px;
    height: 16px;
    width: 16px;
    border: 1px solid transparent;
    cursor: pointer;
    opacity: 0.8;
}

#main .support-information-loader {
    display: none;
    position: relative;
    top: -2px;
    margin-left: 10px;
}

#main #support-informations-content .print_r {
    padding-left: 50px;
    color: sienna;
}

#main #menudiv-informations td {
    border-left: none;
    border-right: none;
}

#support-informations-content pre {
    display: block;
    padding: 8px;
    margin: 0 0 8.5px;
    font-size: 11px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: whitesmoke;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

/*Configuration - Information: Download support info file*/
#support-information-download .support-url {
    text-decoration: none;
}
#support-information-download p {
    margin-top: 10px;
}
#support-information-download {
    display: none;
}

#main .amz-info-level-info ul {
    list-style-type: none;
}

/* http://www.jotform.org/demo/checkbox-size/ */
.bootstrap #tabList input.regular-checkbox {
    display: none;
}

#main #tabList input.regular-checkbox {
    display: none;
}

#main .regular-checkbox + label {
    cursor: pointer;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

#main .regular-checkbox + label:active, #main .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#main .regular-checkbox:checked + label {
    font-size: 28px;
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
    width: auto;
    margin-left: 100px;
}

#main .regular-checkbox:checked + label:after {
    content: '\2714';
    position: absolute;
    color: green;
}

#main .regular-checkbox[disabled]:checked + label:after {
    color: black;
    opacity: 0.6;
}

#main .big-checkbox + label {
    padding: 18px;
    width: auto;
    margin-left: 100px;
}

#main .big-checkbox:checked + label:after {
    font-size: 50px;
    left: 0;
    top: -20px;
}

#main .multitenant-list tr td:first-child {
    width: 80px;
}

#main .multitenant-list tr td:nth-child(2) {
    min-width: 150px;
    max-width: 500px;
    text-align: left;
}

#main .multitenant-list tr td:nth-child(3) {
    min-width: 200px;
    max-width: 500px;
    text-align: right;
}

#main .multitenant-list tr td:first-child {
    width: 80px;
}

#main .multitenant-list tr td:nth-child(2) {
    min-width: 150px;
    max-width: 500px;
    text-align: left;
}

#main .multitenant-list tr td:nth-child(3) {
    min-width: 200px;
    max-width: 500px;
    text-align: right;
}

#main .feature-table {
    width: 80%;
    border-spacing: 25px;
    border-collapse: separate;
}

#main .features-section td {
    font-size: 18px;
}

#main .features-items td:nth-child(2) {
    font-size: 18px;
}

#main .features-items tr {
    height: 80px;
}

#main .features-items td {
    font-size: 14px;
}

#main .feature-table {
    width: 85%;
}

#main .cron-mode {
    cursor: pointer;
    border: 1px silver dotted;
    padding: 10px;
    height: 52px;
}

#main .cron-mode h4 {
    float: left;
    margin-left: 10px;
}

#main .cron-mode img {
    float: left;
}

#main .cron-prestashop {
    position: relative;
    top: 5px;
}

#prestashop-cronjobs-lines {
    display: block;
    font-family: monospace;
    color: black;
    white-space: pre;
    word-wrap: break-word;
    margin: 1em 0px;
}

#cronjob-loader {
    display: none;
    float: right;
    margin-right: 30px;
    position: relative;
    top: 8px;
}

#menudiv-categories table {
    width: 100%;
}

#valid-values-button, #tools_code_export_submit {
    float: right;
    width: 200px;
}

#main .fba-stock-behaviour input[type=radio] {
    margin-bottom: 15px;
}

#main .fba-stock-behaviour input + label {
    float: none;
    font-weight: normal;
    font-size: 1.2em;
    padding-left: 10px;
    position: relative;
    top: -5px;
}

#main .fba-notification input[type=radio] {
    margin-bottom: 15px;
}

#main .fba-notification input + label {
    float: none;
    font-weight: normal;
    font-size: 1.2em;
    padding-left: 10px;
    position: relative;
    top: -5px;
}



#main .rounding input + span {
    margin-right: 20px;
}

#main .carrier-group {
    margin-bottom: 5px;
}

#main label.tip span {
    text-decoration: none;
    font-style: inherit;
    border-bottom: 1px dashed rgba(255, 150, 0, 0.40);
    cursor: pointer;
}

#main label.tip2 span {
    text-decoration: none;
    font-style: inherit;
    border-bottom: 1px dashed rgba(165, 158, 197, 0.4);
    cursor: pointer;
}

#menudiv-mapping.ps15 input {
    padding: 4px;
    margin: 4px;
}

#menudiv-mapping.ps15 span.arrow img {
    width: 16px;
    height: 16px;
    opacity: 0.5;
    position: relative;
    top: -8px;
}

#content .country-selector {
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
}

#content .country-selector img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#content .country-selector tr td {
    padding-right: 5px;
    vertical-align: middle;
}

#content .country-selector tr td span.amazon-tab-selector {
    display: inline-block;
    padding: 10px;
    padding-right: 20px;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

#content .country-selector tr td span.amazon-tab-selector:hover {
    background-color: #dcdcdc;
}

#content .country-selector tr td span.amazon-tab-selector.active {
    border-bottom: 3px solid #6495ED;
}

#content .amazon-tab-bar {
    border-bottom: 3px solid #dcdcdc;
    position: relative;
    left: -10px;
}

#content .current-country img {
    max-width:20px;
    margin-right:10px;
}
#content .current-country span {
    color:grey;
}


#content .country-separator {
    margin-bottom: 10px;
}

#menudiv-repricing .repricing-service-cancel {
    width: 180px;
    margin-left: 10px;
}

#menudiv-repricing .repricing-service-check {
    margin-left: 10px;
    width: 230px;
}

#menudiv-repricing .repricing-check-queue-result table {
    width: 100%;
}

#menudiv-repricing .repricing-check-queue-result {
    display: block;
    font-family: monospace;
    color: black;
    margin: 1em 0px;
}

#menudiv-repricing .repricing-queue-check {
    width: 180px;
    margin-left: 10px;
}

#menudiv-repricing .repricing-queue-purge {
    width: 180px;
    margin-left: 10px;
}

#menudiv-repricing .strategie-display-header {
    background-color: whitesmoke;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-bottom: 1px solid gainsboro;
    padding: 15px;
    margin-bottom: 15px;
    width: 90%;
}

#menudiv-repricing .strategie-display-header table {
    width: 100%;
}

#menudiv-repricing .strategie-display-header table tr td:first-child {
    width: 80%;
}

#menudiv-repricing .strategie-display-header .strategy-delete img, #menudiv-repricing .strategie-display-header .strategy-edit img {
    margin-left: 15px;
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

#menudiv-repricing .strategie-display-header .strategy-delete img:hover, #menudiv-repricing .strategie-display-header .strategy-edit img:hover {
    border: 1px solid navy;
}

#menudiv-repricing .strategie-create-header {
    background-color: whitesmoke;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-bottom: 1px solid gainsboro;
    padding: 15px;
    margin-bottom: 15px;
    width: 90%;
}

#menudiv-repricing .strategie-create-header .strategy-minimize {
    padding: 0;
    margin: 0;
    margin-left: 50%;
}

#menudiv-repricing .strategie-create-header .strategy-minimize img {
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
}

#menudiv-repricing .strategie-create-header .strategy-minimize img:hover {
    border: 1px solid navy;
}

#menudiv-repricing .strategies-add {
    float: right;
}

#menudiv-repricing .strategies-add .strategies-add-title {
    margin-right: 30px;
    position: relative;
    top: 1px;

}

#menudiv-repricing .strategies-add .strategy-add-img img {
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
}

#menudiv-repricing .strategies-add .strategy-add-img img:hover {
    border: 1px solid navy;
}

#menudiv-repricing .strategie-create-header input {
    width: 200px;
}

#menudiv-repricing .strategie-body {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 15px;
    width: 100%;
}

#menudiv-repricing .strategie-body .strategie-active div label {
    float: none;
}

#menudiv-repricing .strategie-body .strategie-active {
    border: 1px solid transparent;
    padding-left: 15px;
}

#menudiv-repricing .repricing-strategie {
    margin-bottom: 10px;
}

#menudiv-repricing .repricing-strategies label {
    width: 25%;
    float: left;
}

#menudiv-repricing .strategie-body .strategie-agressivity {
    border: 1px solid transparent;
    padding-left: 15px;
}

#menudiv-repricing .strategie-body .strategie-agressivity select {
    width: 200px;
}

#menudiv-repricing .strategie-body .strategie-delta {
    border: 1px solid transparent;
    padding-left: 15px;
}

#menudiv-repricing .strategie-body .strategie-delta span {
    margin-left: 15px;
    margin-right: 10px;
}

#menudiv-repricing .strategie-body .strategie-delta select {
    width: 90px;
}

#menudiv-repricing .strategie-body .strategie-base {
    border: 1px solid transparent;
    padding-left: 15px;
}

#menudiv-repricing .strategie-body .strategie-base select {
    width: 280px;
}

#menudiv-repricing .strategie-body .strategie-limit {
    border: 1px solid transparent;
    padding-left: 15px;
}

#menudiv-repricing .strategie-body .strategie-limit span {
    margin-left: 15px;
    margin-right: 10px;
}

#menudiv-repricing .strategie-body .strategie-limit select {
    width: 90px;
}

#menu-profiles {
    position: relative;
}
#menu-profiles .profiles-loader {
    display: none;
    position: absolute;
    top: 16px;
    right: 40px;
}