.qtip {

    max-width: 800px !important;
    min-width: 50px !important;

    font-size: 1.1em !important;
    line-height: 1.3em !important;
}

#main .bootstrap hr {
    margin-bottom: 0;
}

#main .bootstrap .alert-info {
    border: none;
    border-left: solid 3px #81cfe6;
}

#main .bootstrap hr {
    border-top: 1px solid #E3E3E3;
}

#main input, #main select {
    display: inline-block;
}

.tabItem {
    display: none;
}

.tabItem.selected {
    display: block;
}

#main label.tip span, #main li.tip span {
    text-decoration: none;
    font-style: inherit;
    border-bottom: 1px dashed rgba(255, 150, 0, 0.40);
    padding-bottom: 2px;
    cursor: pointer;
}

#main label.tip2 span {
    text-decoration: none;
    font-style: inherit;
    border-bottom: 1px dashed rgba(165, 158, 197, 0.4);
    padding-bottom: 2px;
    cursor: pointer;
}

#menuTab li {
    max-width: 190px;
    min-width: 170px;
    display: inline-block;
    margin-right: 20px;
    height: 55px;
}

#menuTab li span img {
    float: left;
}

#menuTab li a {
    line-height: 30px;
    /*color: rgba(0, 0, 0, 0.70);*/
    color: darkslategrey;
    font-size: 1em;
}

#menuTab li a:hover {
    height: 55px;
}

#menuTab li a:focus, #menuTab li a:visited {
    background: none;
}

#menuTab li.menuTabButton.selected {
    border-bottom: 3px solid #6495ED;
}

#ps16_tabs_separator {
    clear: both;
    padding-top: 4px;
    border-bottom: 4px solid whitesmoke;
    margin-bottom: 8px;
}

#menudiv-amazon > div:nth-child(1) > label > h2 {
    float: left;
    margin: 0;
}

table tbody tr.amz-informations-1 td {
    font-size: 1em;
    border-bottom: none !important;

}

.condition-map input {
    margin-bottom: 3px;
}

.span_text, .yesno {
    position: relative;
    top: -2px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.master-disabled {
    color: silver;
    background-color: #efefef;
}

.master-enabled {
    color: black;
    background-color: white;
}

.rtfm {
    position: relative;
    left: 500px;
    margin-top: -65px;
    font-family: Comic Sans MS;
    color: black;
}

.rtfm-img {
    background: transparent url(../img/arrow-doc.png) no-repeat;
    margin-left: 40px;
    margin-top: 10px;
    height: 50px;
    width: 50px;
}

#content .api-settings input {
    position: relative;
    top: -2px;
    padding: 4px;
    color: green;
}

.cron-url {
    margin-bottom: 3px;
    display: inline !important;
    max-width: none;
}

.queue-loader {
    display: none;
}

.radio_config input, .checkbox_config input {
    margin: 0 10px 0 10px !important;
    position: relative;
    top: -1px;
}

.radio_config, .checkbox_config {
    font-size: 1.1em;
    color: black;
    position: relative;
    top: +1px;
    cursor: pointer;
}

#tabList select, #tabList input:not(.cron-url) {
    display: inline;
}

#main .add-carrier img, #main .remove-carrier img, #main .price-rule-add img, #main .price-rule-remove img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 4px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .add-carrier img:hover, #main .remove-carrier img:hover, #main .price-rule-add img:hover, #main .price-rule-remove img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

.config-type {
    color: navy;
    cursor: pointer;
    position: relative;
}

#menudiv-profiles .form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0px;
}

#menudiv-profiles select
.profile-feature-list, .extra-input {
    width: 200px !important;
}

.profile-add {
    color: green;
    float: right;
    font-size: 1.3em;
    position: relative;
    top: 3px;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.profile-add-img {
    float: right;
    margin-right: 10px;
}

.profile-add-img img {
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    margin-right: 30px;
}

.profile-add-img img:hover {
    border: 1px solid navy;
}

.master-profile {
    display: none;
}

.profile {
    display: none;
    margin: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.profile-header > div, .model-header > div {
    margin-top: 0;
}

.profile-header, .model-header {
    background-color: whitesmoke;
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 60px;
    border-bottom: 1px solid gainsboro;
}

.profile-header .title, .model-header .title {
    font-size: 1.2em;
    color: navy
}

.profile-header .type, .model-header .type {
    font-size: 1.2em;
}

.profile-obj-title, .model-obj-title {
    position: relative;
    top: 5px;
    text-align: right;
}

#main .profile-help, .model-help {
    clear:both;
    font-size: 1.2em;
    margin-top: 5px;
    padding: 20px;
}

.profile-create, .profile-copy, .model-create {
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.profile-create h2, .model-create h2, .profile-copy {
    margin: 5px 30px 10px 30px;
    border-bottom: 1px solid silver;
    padding: 10px;
}

.profile-del {
    color: red;
    float: right;
    font-size: 1.3em;
    position: relative;
    top: 5px;
    margin-left: 15px;
    margin-right: 30px;
    cursor: pointer;
}

.profile-del-2, .model-del-2 {
    color: red;
    float: right;
    font-size: 1.3em;
    position: relative;
    top: 5px;
    margin-left: 15px;
    margin-right: 10px;
    cursor: pointer;

}

.profile-del-img, .model-del-img {
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
}

.profile-del-img:hover, .model-del-img:hover {
    border: 1px solid navy;
}

.profile-del-img2, .model-del-img2 {
    position: relative;
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.profile-del-img2:hover, .model-del-img2:hover {
    border: 1px solid navy;
}

.profile-edit, .model-edit {
    position: relative;
    top: +2px;
}

.profile-edit-img, .profile-dup-img, .model-edit-img {
    margin-left: 15px;
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

.profile-edit-img:hover, .model-edit-img:hover, .profile-dup-img:hover {
    border: 1px solid navy;
}

#main .feature-table {
    width: 100%;
}

#main .specific-fields {
    background-color: #f0f0f0;
    margin-top: 15px;
    margin-bottom: 15px;
}

#main .mandatory_fields {
    padding: 20px 0 0 20px;
    float: left;
}

#main .mandatory_fields select {
    width: 200px;
    position: relative;
    left: -3px;
}

#main .specific-fields > .profile-help {
    padding: 0 0 10px 20px;
    clear: left;
    float: left;
}
#main .specific-field-data select, #main .specific-field-data input {
    z-index:1
}
#main .profiles-code-exempt {
    clear: both;
    padding-top: 10px;
}

#main .expert {
    margin-left: 5px;
    position: relative;
    top: -8px;
    font-style: italic;
    font-size: 0.8em;
    color: red;
}

#main .experimental {
    margin-left: 5px;
    position: relative;
    top: -8px;
    font-style: italic;
    font-size: 0.8em;
    color: darkorange;
}

#main .mandatory {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: red;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}

#main .recommended {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: orange;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}

#main .choice {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: grey;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}

#main .featured {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: green;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}

#main .preferred {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: darkorange;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}

#main .variant {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: white;
    background-color: silver;
    border: 2px solid transparent;
    opacity: 0.7;
    border-radius: 3px;
}

#main .sample {
    display: inline-block;
    font-size: 0.9em;
    margin-left: 5px;
    padding: 0 5px 0 5px;
    color: darkgrey;
    font-style: italic;
}

#main .xsd-load {
    padding: 10px;
    display: inline-block;
}

/**************************************/
.expander {
    padding-left: 13px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../img/collapsed.gif);
}

.expander.expanded {
    padding-left: 13px;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url(../img/expanded.gif);
}

.type_reload {
    cursor: pointer;
    position: relative;
    top: -3px;
    padding: 5px;
    border: 1px solid transparent;
}

.type_reload:hover {
    border: 1px solid navy;
}

.extra-input {
    position: relative;
    top: -2px;
}

.extra-required {
    color: red;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    top: +6px;
}

#main .variation-mandatory {
    border: 1px solid red;
}

#main .specific-field-variant {
    margin-bottom: 10px;
}

#main .specific-field-variant label {
    margin-right: 10px;
    width: 150px;
    color: navy;
    text-align: right;
    font-weight: normal;
    white-space: normal;
}

#main .specific-field-variant select {
    position: relative;
    border: 1px solid navy;
}

#main .specific-field-data .variant-section table {
    border-spacing: 10px;
    border-collapse: separate;
}

#main .specific-field-data .variant-section {
    margin-left: 20%;
    padding: 20px;
}

#main .specific-field-data label {
    margin-right: 10px;
    width: 150px;
    text-align: right;
    font-weight: normal;
    white-space: normal;
}

#main .specific-field-data label.tip span {
    text-decoration: none;
    font-style: inherit;
    border-bottom: 1px dashed rgba(241, 208, 49, 0.90);
    cursor: pointer;
}

#main .specific-field-data {
    white-space: nowrap;
    clear:left;
}

#main .specific-field-data label {
    display: inline-block;
    min-width: 250px;
}

#main .specific-field-fieldname {
    font-size: 0.8em;
}

#main .specific-field-tail {
    padding-top: 10px;
}

#main .specific-field-attributes label {
    margin-right: 10px;
    width: 250px;
    text-align: right;
    font-weight: normal;
    white-space: normal;
}

.specific-field {
    width: 80px;
    position: relative;
    top: -2px;
}

.variant-items {
    display: none;
}

#profile-items input[type=checkbox] {
    margin-left: 20px;
    width: 20px;
    height: 20px;
}

#profile-items input[type=checkbox] + span {
    position: relative;
    top: -5px;
    margin-left: 5px;
    margin-right: 20px;
}

.profile-feature-list {
    min-width: 140px;
}

.text-option {
    color: black;
    font-size: 1.1em;
    position: relative;
    top: +2px;

}

.browse-lang-txt {
    font-size: 0.8em;
}

.browse-lang-img {
    position: relative;
    top: -2px;
    margin: 5px;
}

.browse-lang-cfier {
    font-size: 0.8em;
}

.amz-required {
    color: #F00;
    font-weight: bold;
    font-size: 2em;
    position: relative;
    margin: 0 5px 0 10px;
    top: +6px;
}

.add-attr-mapping img, .del-attr-mapping img, .add-feature-mapping img, .del-feature-mapping img {
    max-height: none !important;
    opacity: 1 !important;
}

#main .attribute-group span img, #main .feature-group span img, #main .mapping-group span img {
    max-height: 16px;
    opacity: 0.5;
    position: relative;
    top: -2px;
}

#main .attribute-group input, #main .feature-group input, #main .mapping-group input, #main .attribute-group select, #main .feature-group select {
    padding: 2px;
    margin: 2px;
    position: relative;
    top: -1px;
    width: 250px;
}

#main .add-attr-mapping img, #main .add-feature-mapping img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 2px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .add-attr-mapping img:hover, #main .add-feature-mapping img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

#main .del-attr-mapping img, #main .del-feature-mapping img {
    position: relative;
    top: -3px;
    border: 1px solid gainsboro;
    padding: 2px;
    cursor: pointer;
    background-color: whitesmoke;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .del-attr-mapping img:hover, #main .del-feature-mapping img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

#main .custom-valid-value-title {
    display: inline-block;
    min-width: 180px;
}

#main .mapping-tag-group {
    padding-bottom: 10px;
}

.condition-map input {
    width: 200px;
    display: inline;
    height: 27px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.42857;
    color: #555555;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/* Features Mapping */
.mapping-margin > div:nth-child(2) div {
    margin-top: 3px;
}

.mapping-margin {
    margin-bottom: 20px;
}

.yesno {
    color: black;
    font-size: 12px;
}

.dummy-name {
    font-size: 1.1em;
    color: black;
}

.dummy-name input {
    margin-left: 5px;
}

#dummy-product {
    margin-top: 5px;
}

.amz-separator {
    width: 600px;
    position: relative;
    top: -10px;
}

.feature-mapping {
    display: none;
}

.feature-mapping-collapse, .feature-mapping-collapse a, .feature-mapping-collapse a:hover {
    text-decoration: none;
    color: navy;
    font-size: 11px;
}

#main .attribute-group {
    font-size: 1em;
}

.attribute-mapping {
    display: none;
}

.attribute-mapping-collapse, .attribute-mapping-collapse a, .attribute-mapping-collapse a:hover {
    text-decoration: none;
    color: navy;
    font-size: 11px;
}

/*
 * Filters
 */
.available-manufacturers, .selected-manufacturers, .available-suppliers, .selected-suppliers, .available-shipping-groups {
    float: left;
    width: 250px !important;
    height: 180px !important;
    resize: vertical;
    overflow: auto;
}

.manufacturer-heading {
    width: 600px;
}

.manufacturer-heading span {
    display: inline-block;
    width: 260px;
    text-align: center;
    padding: 10px;
}

.supplier-heading {
    width: 600px;
}

.supplier-heading span {
    display: inline-block;
    width: 260px;
    text-align: center;
    padding: 10px;
}

.sep {
    position: relative;
    float: left;
    height: 200px;
    margin: auto 10px auto 10px;
    top: 60px;
}

.move {
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
}

.move:hover {
    padding: 5px;
    border: 1px solid silver;
    background-color: gainsboro;
}

/*
 * Tools
 */
.tools-tab-title, .valid-values-title, .maintenance-title {
    margin-left: 15px;
    border-bottom: 1px solid silver;
}

.export-loader {
    display: none;
    position: relative;
    top: -6px;
    margin-left: 10px;
}

#tools_code_export_success ul {
    list-style-type: none;
}

.file-download {
    font-size: 1.1em;
    width: 90%;
    background: whitesmoke url(../img/filesave.png) no-repeat scroll 15px 10px;
    border: 1px solid silver;
    color: black;
    font-weight: normal;
    margin: 0 0 10px 0;
    line-height: 20px;
    padding: 13px 5px 5px 40px;
    min-height: 28px;
    border-radius: 3px;
}

#menudiv-tools ul {
    list-style-type: none;
}

#menudiv-tools .button {
    min-width: 180px;
}

#status-loader, #participation-loader {
    left: 50%;
    margin-left: 50%;
    margin-bottom: 10px;
    width: 100%;
    height: 32px;
    background: transparent url(../img/loading.gif) no-repeat;
}

/*
 * FBA
 */
.field_label {
    display: inline-block;
    position: relative;
    top: +1px;
    font-size: 1.1em;
    color: navy;
}

/*
 * CRON
 */
#menudiv-cron input[type="text"] {
    width: 80%;
}

/* Price rule */
#main .price_rule-type {
    width: 100px;
    padding: 4px;
    float: left;
}

#main .default-price-rule .price-rule-slash, #main .default-price-rule .price-rule-next {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    position: relative;
}

#main .price-rule input.required {
    border: 1px solid red;
}

.mandatory_fields .extra-option {
    display: inline-block;
    max-width: 200px;
}

#menudiv-filters input {
    position: relative;
    top: -2px;
    padding: 4px;
}

/*
 * Bootstrap override
 */

.bootstrap .form-horizontal .control-label, .bootstrap .form-horizontal .radio, .bootstrap .form-horizontal .checkbox, .bootstrap .form-horizontal .radio-inline, .bootstrap .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0 !important;
}

.bootstrap .nav-pills > li {
    min-width: 150px;
}

.bootstrap h3 img, #content > fieldset.panel.form-horizontal > div.panel-heading > img {
    vertical-align: sub !important;
}

.col-lg-1 {
    text-align: center;
}

#main .mapping-type-required {
    border: 1px solid red;
    box-shadow: 0 0 1px 1px yellow inset;
}

.arrow-cat-duplicate:hover {
    border: 1px solid navy;
    background-color: aliceblue;
    opacity: 1;
}

.arrow-cat-duplicate {
    position: relative;
    top: 4px;
    display: inline-block;
    background: transparent url(../img/down-double-arrow.png) no-repeat 3px 3px;
    background-size: 9px 11px;
    height: 16px;
    width: 16px;
    border: 1px solid transparent;
    cursor: pointer;
    opacity: 0.8;
}

#menudiv-filters select {
    max-width: 350px;
}

#main .profile-mapping-required {
    padding: 5px;
    border: 1px solid transparent;
    color: red;
}

#main .profile-mapping-required:hover {
    padding: 5px;
    border: 1px solid navy;
    color: navy;
    cursor: pointer;
}

#main #tools_code_export_submit {
    max-width: 280px;
    float: right;
}

#main #queue-delete {
    max-width: 280px;
}

#main .support-information-loader {
    display: none;
    position: relative;
    top: -2px;
    margin-left: 10px;
}

#main #support-informations-content .print_r {
    padding-left: 50px;
    color: sienna;
}

/*Configuration - Information: Download support info file*/
#support-information-download .support-url {
    text-decoration: none;
}
#support-information-download p {
    margin-top: 10px;
}
#support-information-download {
    display: none;
}

#main .amz-info-level-info ul {
    list-style-type: none;
}

/* http://www.jotform.org/demo/checkbox-size/ */
.bootstrap #tabList input.regular-checkbox {
    display: none;
}

#main #tabList input.regular-checkbox {
    display: none;
}

#main .regular-checkbox + label {
    cursor: pointer;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

#main .regular-checkbox + label:active, #main .regular-checkbox:checked + label:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

#main .regular-checkbox:checked + label {
    font-size: 28px;
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
    color: #99a1a7;
}

#main .regular-checkbox:checked + label:after {
    content: '\2714';
    position: absolute;
    color: green;
}

#main .regular-checkbox[disabled]:checked + label:after {
    color: black;
    opacity: 0.6;
}

#main .big-checkbox + label {
    padding: 18px;
}


#main .full_version {
    opacity:0.5;
    display:inline-block;
    margin-top:10px;
}

#main .full_version img {
    opacity: 0.3;
    width:14px;
    height:14px;
}


#main .noway + label {
    background: transparent url(../img/noway.png) no-repeat 2px;
    opacity: 0.2;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    filter: gray;

}

#main .scull-checkbox + label {
    background: transparent url(../img/scull.png) no-repeat 2px;

}

#main .scull-checkbox:checked + label:after, #main .debug-checkbox:checked + label:after {
    opacity: 0.8;
    color: red;
}

#main .debug-checkbox + label {
    background: transparent url(../img/bug.png) no-repeat 2px;
}

#main .scull-checkbox:checked + label {

}

#main .big-checkbox:checked + label:after {
    font-size: 50px;
    left: 0;
    top: -20px;
}

#menudiv-features .features-section td span {
    font-family: "Ubuntu Condensed", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: 25px;
    margin-left: 15px;
    position: relative;
    top: 5px;
}

#menudiv-features .features-section td img {
    margin-left: 15px;
}

#menudiv-features .features-section td {
    padding: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#menudiv-features .features-items span.experimental {
    margin-left: 5px;
    position: relative;
    top: -8px;
    font-style: italic;
    font-size: 0.8em;
    color: darkorange;
}

#menudiv-features .features-items td:first-child {
    padding: 5px;
    padding-left: 20px;
}

#menudiv-features .features-items td {
    padding: 10px;
}

#menudiv-features .features-items span {
    font-family: "Ubuntu Condensed", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    font-size: 18px;
    margin-top: 5px;
}

#main .cron-mode {
    cursor: pointer;
    border: 1px silver dotted;
    padding: 10px;
    height: 52px;
}

#main .cron-mode h4 {
    float: left;
    margin-left: 10px;
}

#main .cron-mode img {
    float: left;
}

#main .cron-prestashop {
    position: relative;
    top: 5px;
}

#prestashop-cronjobs-lines {
    display: block;
    font-family: monospace;
    color: black;
    white-space: pre;
    word-wrap: break-word;
    margin: 1em 0px;
}

#cronjob-loader {
    display: none;
    float: right;
    margin-right: 30px;
    position: relative;
    top: 8px;
}

#main .fba-stock-behaviour input[type=radio] {

    width: 20px;
    height: 20px;
}

#main .fba-stock-behaviour input + label{
    font-weight: normal;
    font-size: 1.2em;
    padding-left: 10px;
    position: relative;
    top: -5px;
    padding-bottom: 5px;
}


#main .fba-notification input[type=radio] {

    width: 20px;
    height: 20px;
    float:left;
}

#main .fba-notification input + label{
    float:left;
    font-weight: normal;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 20px;
    position:relative;
    top:+2px;
}



#valid-values-delete-button {
    margin-right: 20px;
    opacity: 0.5;
}

#main .bootstrap input[type=radio] {
    width: 20px;
    height: 20px;
}

#main .bootstrap input[type=radio] + span {
    margin-left: 6px;
    margin-right: 12px;
    position: relative;
    top: -5px;
    font-size: 1.2em;
}

#main .bootstrap input[type=checkbox] {
    width: 20px;
    height: 20px;

}

#main .bootstrap input[type=checkbox] + span {
    margin-left: 6px;
    margin-right: 12px;
    position: relative;
    top: -5px;
    font-size: 1.2em;
}

#main .two-px-margin-bottom {
    margin-bottom: 2px;
}

#menudiv-mapping label label {
    font-weight: normal;
}

#menudiv-mapping .chosen-container {
    position: relative;
    top: -2px;
}

#content .country-selector {
    margin-left: 10px;
    margin-bottom: 10px;
    position: relative;
}

#content .main-country-selector
{
    z-index:498;
}

#content .country-selector img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

#content .country-selector tr td {
    padding-right: 5px;
    vertical-align: middle;
}

#content .country-selector tr td span.amazon-tab-selector {
    display: inline-block;
    padding: 10px;
    padding-right: 20px;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

#content .country-selector tr td span.amazon-tab-selector:hover {
    background-color: #dcdcdc;
}

#content .country-selector tr td span.amazon-tab-selector.active {
    border-bottom: 3px solid #6495ED;
}

#content .amazon-tab-bar {
    border-bottom: 3px solid #dcdcdc;
    position: relative;
    left: -10px;
}

#content .current-country {
    float:right;
}

#content .current-country img {
    max-width:20px;
    margin-right:10px;
}
#content .current-country span {
    color:grey;
}

#content .country-separator {
    margin-bottom: 10px;
}

#menudiv-repricing .repricing-service-cancel {
    width: 180px;
    background-color: red;
    color: white;
    opacity: 0.3;
    margin-left: 10px;
}

#menudiv-repricing .repricing-check-queue-result table {
    width: 100%;
    margin: 5px;
}

#menudiv-repricing .repricing-check-queue-result table tr td, #menudiv-repricing .repricing-check-queue-result table tr th {
    padding: 5px;
}

#menudiv-repricing .repricing-check-queue-result {
    display: block;
    font-family: monospace;
    font-size: 1.2em;
    color: black;
    margin: 1em 0px;
}

#menudiv-repricing .repricing-service-cancel:hover {
    opacity: 1;
}

#menudiv-repricing .repricing-service-check {
    margin-left: 10px;
    width: 230px;
    border: 1px solid transparent;
}

#menudiv-repricing .repricing-service-check:hover {
    border: 1px solid navy;
}

#menudiv-repricing .repricing-queue-check {
    width: 180px;
    background-color: darkblue;
    color: white;
    opacity: 0.3;
    margin-left: 10px;
}

#menudiv-repricing .repricing-queue-check:hover {
    opacity: 1;
}

#menudiv-repricing .repricing-queue-purge {
    width: 200px;
    background-color: red;
    color: white;
    opacity: 0.3;
    margin-left: 10px;
}

#menudiv-repricing .repricing-queue-purge:hover {
    opacity: 1;
}

#menudiv-repricing .strategie-display-header {
    background-color: whitesmoke;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-bottom: 1px solid gainsboro;
    padding: 15px;
    width: 100%;
}

#menudiv-repricing .strategie-display-header table {
    width: 100%;
}

#menudiv-repricing .strategie-display-header table tr td:first-child {
    width: 80%;
}

#menudiv-repricing .strategie-display-header .strategy-delete img, #menudiv-repricing .strategie-display-header .strategy-edit img {
    margin-left: 15px;
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

#menudiv-repricing .strategie-display-header .strategy-delete img:hover, #menudiv-repricing .strategie-display-header .strategy-edit img:hover {
    border: 1px solid navy;
}

#menudiv-repricing .strategie-create-header {
    background-color: whitesmoke;
    margin-left: 0 !important;
    margin-right: 0 !important;
    border-bottom: 1px solid gainsboro;
    padding: 15px;
    width: 100%;
}

#menudiv-repricing .strategie-create-header .strategy-minimize {
    padding: 0;
    margin: 0;
    margin-left: 50%;
}

#menudiv-repricing .strategie-create-header .strategy-minimize img {
    border: 1px solid transparent;
    cursor: pointer;
    position: relative;
}

#menudiv-repricing .strategie-create-header .strategy-minimize img:hover {
    border: 1px solid navy;
}

#menudiv-repricing .strategies-add {
    float: right;
}

#menudiv-repricing .strategies-add .strategies-add-title {
    margin-right: 30px;
    position: relative;
    top: 1px;

}

#menudiv-repricing .strategies-add .strategy-add-img img {
    border: 1px solid transparent;
    padding: 5px;
    cursor: pointer;
}

#menudiv-repricing .strategies-add .strategy-add-img img:hover {
    border: 1px solid navy;
}

#menudiv-repricing .strategie-create-header input {
    width: 200px;
}

#menudiv-repricing .strategie-body {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 15px;
    width: 100%;
}

#menudiv-repricing .strategie-body .strategie-active {
    border: 1px solid transparent;
    padding: 15px;
}

#menudiv-repricing .strategie-body .strategie-agressivity {
    border: 1px solid transparent;
    padding: 15px;
}

#menudiv-repricing .strategie-body .strategie-agressivity select {
    width: 200px;
}

#menudiv-repricing .strategie-body .strategie-delta {
    border: 1px solid transparent;
    padding: 15px;
}

#menudiv-repricing .strategie-body .strategie-delta span {
    margin-left: 15px;
    margin-right: 10px;
}

#menudiv-repricing .strategie-body .strategie-delta select {
    width: 90px;
}

#menudiv-repricing .strategie-body .strategie-base {
    border: 1px solid transparent;
    padding: 15px;
}

#menudiv-repricing .strategie-body .strategie-base select {
    width: 280px;
}

#menudiv-repricing .strategie-body .strategie-limit {
    border: 1px solid transparent;
    padding: 15px;
}

#menudiv-repricing .strategie-body .strategie-limit span {
    margin-left: 15px;
    margin-right: 10px;
}

#menudiv-repricing .strategie-body .strategie-limit select {
    width: 90px;
}

#main .carrier-group .chosen-container {
    padding-bottom: 2px;
}

#menu-profiles {
    position: relative;
}

#menu-profiles .profiles-loader {
    display: none;
    position: absolute;
    top: 16px;
    right: 40px;
}

#menu-messaging input {
    padding: 4px;
    color: green;
}

#menudiv-informations pre {
    overflow: hidden;
}

#menudiv-profiles .optional-header {
    margin:40px 0 2px 40px;
    width:300px;
    float:right;
    color:black;
    cursor:move;
    font-weight:bold;
    margin-left: 5px;
    background-color: lightblue;
    border: 1px solid transparent;
    opacity: 0.8;
    padding:10px;
    z-index: 1000;
}
#menudiv-profiles .optional-header .clear-optionals {
    float:right;
    cursor:pointer;
    position: relative;
    top:-3px;
}
#menudiv-profiles .optional-header input[type=button] {
    width:200px;
}
#menudiv-profiles  .optional-fields {
    float:right;
    margin-right:0px;
    margin-bottom:20px;
    z-index: 1000;
}
#menudiv-profiles  .optional-fields .optional-container {
    clear:right;
    float:right;
    cursor:move;

}
#menudiv-profiles  .optional-fields .optional-field-selector {
    margin:1px;
    padding: 5px;
    width:300px;
}
#menudiv-profiles  .optional-fields .optional-container .no-details
{
    padding:0;
}
#menudiv-profiles  .optional-fields .optional-container .no-details p {
    margin:0 0 0 16px;

}
#menudiv-profiles  .optional-fields details summary {
    margin-bottom: 3px;
    cursor:pointer;
}
#menudiv-profiles  .optional-fields .add-optional {
    float:right;
    cursor:pointer;
    border:1px solid transparent;
}
#menudiv-profiles  .optional-fields .add-optional:hover {
    cursor:pointer;
    border:1px solid blue;
}
#menudiv-profiles  .optional-fields ul {
    margin-left:30px;
    color:black;
    padding:0;
}
#menudiv-profiles  .optional-field-selector {
    margin-left: 5px;
    color: navy;
    background-color: lightblue;
    border: 2px solid transparent;
    opacity: 0.6;
    border-radius: 3px;
}
