/* 
    Document   : amazon16
    Created on : Apr 9, 2014, 10:20:18 AM
    Author     : Alexandre
    Description:
        CSS for amazon running in Prestashop 1.6
*/

#tabList input, #tabList select {
    display: inline;
}

#tabList input:not(#send-debug) {
    width:20px;
    height:20px;
}
#menudiv-import .order tbody tr td img {
    position:relative;
    top:-2px;
}

#country-selector fieldset .country-fieldset {
    padding: 10px 0 0 30px;
}

#amazon-informations-result, #amazon-informations-error, #amazon-import-result, #amazon-import-error, #amazon-import-support, #amazon-import-warning, #amz-loader {
    padding-left: 60px;
    display: none;
}

.amz-options tr td input {
    margin: 5px;
}

.amz-options tr td {
    padding: 5px;
    margin: 5px;
}

.amz-small-help {
    font-size: 0.9em;
    font-style: italic;
    color: #6495ED;
}

#country-selector > fieldset > fieldset {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-color: gainsboro !important;
}

#country-selector > fieldset > fieldset:nth-child(2) {
    margin-right: 20px;
}

.bootstrap h3 img {
    vertical-align: sub;
}

#statuses {
    margin: 5px;
}


.order-line {
    width: 100%;
}

.order-line tbody tr td:first-child {
    width: 130px;

}

.order-line tbody tr td:nth-child(3) {
    font-style: italic;
    opacity: 0.9;
}

.order-line tbody tr td:nth-child(2) {
    width: 90px;
}

.order-line tr td {
    color: grey;
    opacity: 0.7;

}

#main .support-msg {
    color: green;
    border: 1px solid silver;
    background: white;
    margin: 5px 5px 20px 5px;
    padding: 5px;
}

#main .order-link a {
    cursor: pointer;
    color: navy;
}

#main .order-link a:hover {
    text-decoration: underline;
}

#main .imported_row2 td {
    background-color: rgba(40, 40, 40, 0.07);
}

#main .imported_row td {
    background-color: #DFF2BF;
}

#main .error_row td {
    background-color: #FFBABA;
}
