/* Helper Switch Styles */
.switch {
	width: 160px!important;
    display: block;
    height: 26px;
    position: relative;
}

.switch * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.switch a {
    display: block;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 3px;
}

.switch label,.switch>span {
    line-height: 26px;
    vertical-align: middle;
    padding: 0;
}

.switch input {
    position: absolute;
    opacity: 0
}

.switch label {
    position: relative;
    z-index: 2;
    width: 50%!important;
    height: 100%;
    margin: 0;
    text-align: center;
    float: left;
    text-shadow: none;
}

.switch a {
    position: absolute;
    top: 0;
    padding: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    color: #fff;
    border: solid 1px #279CBB;
    background-color: #2eacce;
    left: 0;
    -webkit-box-shadow: "#1B7088" 0 -1px 0 inset;
    box-shadow: "#1B7088" 0 -1px 0 inset
}

.switch input:last-of-type:checked ~ a {
    border: solid 1px #CA6F6F;
    background-color: #E08F95;
    left: 50%;
    -webkit-box-shadow: "#5C5C5C" 0 -1px 0 inset;
    box-shadow: "#5C5C5C" 0 -1px 0 inset
}

.switch input:disabled ~ a {
    border: solid 1px #b3b3b3 !important;
    background-color: #cdcdcd !important;
    -webkit-box-shadow: #b3b3b3 0 -1px 0 inset !important;
    box-shadow: #b3b3b3 0 -1px 0 inset !important
}

.switch.switch-3 label,.switch.switch-3 a {
    width: 33.33333%
}

.switch.switch-3 input:checked:nth-of-type(2) ~ a {
    left: 33.33333%
}

.switch.switch-3 input:checked:last-of-type ~ a {
    left: 66.66667%
}

.switch.switch-4 label,.switch.switch-4 a {
    width: 25%
}

.switch.switch-4 input:checked:nth-of-type(2) ~ a {
    left: 25%
}

.switch.switch-4 input:checked:nth-of-type(3) ~ a {
    left: 50%
}

.switch.switch-4 input:checked:last-of-type ~ a {
    left: 75%
}

.switch.switch-5 label,.switch.switch-5 a {
    width: 20%
}

.switch.switch-5 input:checked:nth-of-type(2) ~ a {
    left: 20%
}

.switch.switch-5 input:checked:nth-of-type(3) ~ a {
    left: 40%
}

.switch.switch-5 input:checked:nth-of-type(4) ~ a {
    left: 60%
}

.switch.switch-5 input:checked:last-of-type ~ a {
    left: 80%
}

.prestashop-switch {
    background-color: #eee;
    border-radius: 3px;
    color: #333;
    text-align: center;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 1px 4px 1px inset;
    box-shadow: rgba(0,0,0,0.15) 0 1px 4px 1px inset;
    /* margin-left: 25%; */
}

.prestashop-switch * {
    outline: 0 !important
}

.prestashop-switch label {
    text-transform: uppercase;
    color: #bbb;
    font-weight: 400;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out
}

.prestashop-switch input:checked+label {
    color: #fff
}

.prestashop-switch>span {
    color: #666;
    text-transform: uppercase;
    cursor: pointer
}

.prestashop-switch.switch-light input:checked ~ a {
    border: solid 1px #72C279;
    background-color: #96d19b;
    -webkit-box-shadow: #72C279 0 -1px 0 inset;
    box-shadow: #72C279 0 -1px 0 inset
}

.prestashop-switch.switch-light input:checked ~ span span:first-of-type {
    color: #fff
}

.prestashop-switch.switch-light input:checked ~ span span:last-of-type {
    color: #ccc
}

.prestashop-switch.switch-light input ~ a {
    border: solid 1px #E08F95;
    background-color: #ebb7bb;
    -webkit-box-shadow: #E08F95 0 -1px 0 inset;
    box-shadow: #E08F95 0 -1px 0 inset
}

.prestashop-switch.switch-light input ~ span span:first-of-type {
    color: #ccc
}

.prestashop-switch.switch-light input ~ span span:last-of-type {
    color: #fff
}
/* Helper Switch Styles */

#product_autocomplete_input {min-width: 400px;}

.dynamicTextarea {
    background: #f3f3f3;
    border: 1px solid #ccc;
    padding: 5px;
}

#csoc_advanced_styles_fieldset {
    padding: 0;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
}
fieldset {
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fff;
}
#fieldset_0 {
    /* padding-left: 10%; */
}
#pm_support_informations {
    position: relative;
    margin-left: 20%;
    margin-right: 20%;
}

#pm_support_informations, #pm_panel_cs_modules_bottom {
    border: 1px solid #CCCED7;
    margin-top: 20px;
}

.pm_link {
    color: #00aff0;
}

.pm_link:hover {
    text-decoration: underline;
}

#pm_panel_cs_modules_bottom {
    height: 250px;
    margin-left: 20%;
    margin-right: 20%;
}

#pm_panel_cs_modules_bottom iframe {
    height: 185px;
}

.form-control-static {
    padding-top: 7px;
    padding-left: 23em;
}
    
.btn-default {
    color: #363A41!important;
    background-color: #fff!important;
    border-color: #DEDEDE!important;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7px 6px;
    font-size: 12px;
    line-height: 1.42857;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 29px;
    height: 31px;
    margin-right: 10px;
    margin-bottom: 6px;
}

input[name=submitpm_crosssellingoncartModule] {
    margin-left: 20%;
    margin-top: 20px;
}

.dynamicTextarea {
    width: 99%!important;
}

.bo-remove-padding-left {
    padding-left: 0;
}

.icon-remove {
    display: block;
    content : " ";
    width: inherit;
    height: inherit;
    padding: 1px 3px;
    background-image: url("../../../../img/admin/cross.png");
    background-repeat: no-repeat;
}